/* .userFormContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 30px -5px #ffffff89;
} */

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 100%;
    width: 400px;
    border: 1px solid #333;
    box-shadow: 5px 5px 30px -5px #ffffff89;
    border-radius: 10px;

}

.line {
    height: 5px;
    border-radius: 5px;
    margin: 0.3rem auto 1.2rem;
    width: 50%;
    background-color: #d2691e;
}

h3 {
    text-align: center;
    margin-top: 1px;
}